<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
	
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. 
    -->
		<target xsi:type="File" name="all" fileName="$C:/Users/s.fedyanin/Work/ICFPC/lib/logs/all-${shortdate}.log"
            layout="${longdate}	${logger}	${message}" />
    <target xsi:type="File" name="errors" fileName="${basedir}/logs/error-${shortdate}.log"
            layout="${longdate}	${logger}	${message}" />
<!--
		<target xsi:type="ColoredConsole"
						name="console"
						encoding="cp866"
						layout="${longdate}	${logger}	${uppercase:${level}}	${message}"
						useDefaultRowHighlightingRules="true"/>
-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="all"  />
    <logger name="*" minlevel="Error" writeTo="errors" />
<!--    <logger name="*" minlevel="Warn" writeTo="console" />-->
	</rules>
</nlog>